<div *ngIf="artists">
    <h3>{{artists.name}}</h3>
    <ul class="list-group">
        <li class="list-group-item">Title: <strong>{{artists.title}}</strong></li>
        <li class="list-group-item">Content: <strong>{{artists.content}}</strong></li>
        <li class="list-group-item">Likes: <strong>{{artists.likesCount}}</strong></li>
        <li class="list-group-item">Shares: <strong>{{artists.sharesCount}}</strong></li>
        <li class="list-group-item">Comments: <strong>{{artists.commentCount}}</strong></li>
    </ul>
</div>