<div class="container">
    <nav class="navbar navbar-inverse">
        <ul class="nav navbar-nav">
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a href="#" routerLink="/">Home</a></li>
            <li routerLinkActive="active"><a href="#" routerLink="products">Data Communication</a></li>
            <li routerLinkActive="active"><a href="#" routerLink="observable">Data Observable</a></li>
            <li routerLinkActive="active"><a href="#" routerLink="artists">Artists</a></li>
        </ul>
    </nav>
    <router-outlet></router-outlet>
</div>